<ion-view view-title="Defect Item" id="create-defect-unit">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="done()">
            Done
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item">
                <table>
                    <tr>
                        <td>Project&nbsp;</td><td>&nbsp;:&nbsp;</td><td>&nbsp;{{defectForm.project.displayName}}</td>
                    </tr>
                    <tr>
                        <td class="padding-top">UnitNo&nbsp;</td><td>&nbsp;:&nbsp;</td><td>&nbsp;{{defectForm.unit.unitNo}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="list">


            <label class="item item-input">
                <span class="input-label">Defect Submit Date</span>
                <input class="text-right" type="date" placeholder="" ng-model="defectForm.defectItem.defectSubmitDate">
            </label>
<!--
            <label class="item item-input" ng-hide="hideDefectStartDate">
                <div class="input-label">Defect Start Date</div>
                <input class="text-right" type="date" placeholder="" ng-model="defectForm.defectItem.defectStartDate">
            </label>
            <label class="item item-input" ng-hide="hideDefectCompletionDate">
                <div class="input-label">Defect Completion Date</div>
                <input class="text-right" type="date" placeholder="" ng-model="defectForm.defectItem.defectCompletionDate">
            </label>
-->
            <label class="item item-input item-select">
                <div class="input-label">Severity</div>
                <select name="defectItemSeverity" ng-model="defectForm.defectItem.defectItemSeverity"
                        ng-options="option.displayName for option in defectForm.defectItemSeverityOptions track by option.id"
                        >
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Defect Type</div>
                <select name="defectType" ng-model="defectForm.defectItem.defectType"
                        ng-options="option.displayName for option in defectForm.defectTypeOptions track by option.id"
                        >
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Defect Area</div>
                <select name="defectType" ng-model="defectForm.defectItem.defectItemAreaLocation"
                        ng-options="option.displayName for option in defectForm.defectItemAreaLocationOptions track by option.id"
                        >
                </select>
            </label>
            <div class="item item-input item-stacked-label item-input-image">
                <div class="input-label">Defect's Location</div>
                
                <button style="float:right; margin-right:10px;" class="button button-small button button-positive" ng-click="pickPhoto()">Pick a photo</button>
                <button ng-if="defectForm.defectItem.defectLocation" style="float:right; margin-right:10px;" class="button button-small button button-assertive" ng-click="removePhoto()">Remove photo</button>
                
                <div ng-if="defectForm.defectItem.defectLocation" class="image margin-xs-vertical" ng-style="{'background-image': 'url(' + defectForm.defectItem.defectLocation + ')'}">
                </div>
            </div>
            <label class="item item-input item-select">
                <div class="input-label">Reason Type</div>
                <select name="defectItemReason" ng-model="defectForm.defectItem.defectItemReason"
                        ng-options="option.displayName for option in defectForm.defectItemReasonOptions track by option.id"
                        >
                </select>
            </label>
            <label class="item item-input item-stacked-label item-input-textarea padding-xs-right">
                <div class="input-label">Remark</div>
                <div>
                <textarea autogrow row=3 class="margin-xs-vertical margin-md-right" ng-model="defectForm.defectItem.description">
                
                </textarea>
                </div>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Status</div>
                <select name="defectItemStatus" ng-model="defectForm.defectItem.defectItemStatus"
                        ng-options="option.displayName for option in defectForm.defectItemStatusOptions track by option.id"
                        >
                </select>
            </label>
            <div class="padding padding-lg-vertical">
                <a class="button button-block button-calm" ng-click="done()">Done</a>
            </div>
        </div>
<!--
            <ion-footer-bar align-title="left" class="bar-assertive">
            </ion-footer-bar>
-->
    </ion-content>
</ion-view>