<ion-view view-title="Records">
    <ion-content>
        <ion-item ng-if="loading===false && !units.length" class="ion-empty-list-hint-item" ng-click="showFilterBar()">
            <a class="button button-clear" href="">There's no defect item in any unit.</a>
        </ion-item>        
        <div class="list card fade-in-animation" ng-repeat="unit in units">
            <a href="#/app/record-defectitems/{{unit.id}}" class="item item-icon-left item-thumbnail-left">
                <img ng-src="{{unit.project.thumb}}">
                <p><b>{{unit.unitNo}}<b></p>
                <p>Number of defect items : {{unit.noOfDefectItem}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>