<ion-view view-title="{{unit.unitNo}}" >
    <ion-nav-title>
       {{unit.unitNo}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="openFilter()">
            Filter
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-item  ng-if="loading===false" class="ion-empty-list-hint-item" ng-click="showFilterBar()">
            <a class="button button-clear button-positive" ng-click="openFilter()">{{filterSetupDescription()}}<br/><span ng-if="getFilteredDefectItems().length==0">There's no defect item for current filter setup.</span> Tap to specifc new filter.</a>
        </ion-item>
        <ion-list class="card">
            
            <ion-item class="item-icon-right fade-animation item-thumbnail-left defect-item" ng-repeat="defectItem in getFilteredDefectItems()" href="#/app/record-defectitem/{{defectItem.id}}">
                <img ng-src="{{defectItem.defectLocation}}">
                <table style="table-layout:fixed; width:100%;">
                <colgroup>
                    <col style="width:95px;">
                    <col style="width:10px;">
                    <col style="">
                </colgroup>

                <tr>
                    <td></td><td></td><td></td>
                </tr>
                <tr>
                    <td colspan=3>
                        <p>{{defectItem.defectType.displayName}}</p>
                    </td>
                </tr>
                <tr>
                    <td style="" class="">Status&nbsp;</td><td style="">&nbsp;:&nbsp;</td><td class="text-left">&nbsp;{{defectItem.defectItemStatus.displayName}}</td>
                </tr>
                <tr>
                    <td class="">Submit Date&nbsp;</td><td>&nbsp;:&nbsp;</td><td>&nbsp;{{defectItem.defectSubmitDate?(defectItem.defectSubmitDate | date:'MMM dd, yyyy'):'-'}}</td>
                </tr>
                <tr>
                    <td class="">Start Date&nbsp;</td><td>&nbsp;:&nbsp;</td><td>&nbsp;{{defectItem.defectStartDate?(defectItem.defectStartDate | date:'MMM dd, yyyy'):'-'}}</td>
                </tr>
                <tr>
                    <td class="">Completion Date&nbsp;</td><td>&nbsp;:&nbsp;</td><td>&nbsp;{{defectItem.defectCompletionDate?(defectItem.defectCompletionDate | date:'MMM dd, yyyy'):'-'}}</td>
                </tr>
                </table>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>