<ion-view view-title="{{project.displayName}}">
    <ion-nav-title>
       {{project.displayName}}
    </ion-nav-title>
    <ion-content>
        <ion-item ng-if="loading===false && !projects.length" class="ion-empty-list-hint-item" ng-click="showFilterBar()">
            <a class="button button-clear" href="">There's no default item in any project.</a>
        </ion-item>
        </div>
        <div class="list card fade-in-animation" ng-repeat="project in projects">
            <a href="#/app/record-units/{{project.id}}" class="item item-icon-left item-thumbnail-left">
                <img ng-src="{{project.thumb}}">
                <p><b>{{project.displayName}}<b></p>
                <p><small>Number of Units that has defect: {{project.noOfUnits}}</small></p>
            </a>
        </div>
    </ion-content>
</ion-view>