<ion-modal-view id2="filter-defect-item-modal">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Select Defect Type</h1>
    </ion-header-bar>
    
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="defectType in filter.defectTypes">
                {{defectType.displayName}}
            </ion-item>
        </ion-list>

    </ion-content>
    <ion-footer-bar align-title="center" class="bar-calm">
<!--        <button class="button button-block button-positive" ng-click="closeModal()">Apply Filter</button>-->
        <h1 ng-click="closeModal()" class="title">Back</h1>
    </ion-footer-bar>
</ion-modal-view>   