<ion-modal-view id="filter-defect-item-modal">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{filter.title}}</h1>
        <div class="button button-clear" ng-click="closeFilter()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content id="select-filter">
        <ion-list>
            <ion-item class="item-icon-right" ng-click="setShowFilterIndex(0); ">
                Defect Type
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="setShowFilterIndex(1); ">
                Defect Status
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
    
    <ion-content ng-class="{'show':filter.showFilterIndex==0}" class=" slide-right-left-animation" id="option-defecttype">
        <ion-list>
            <ion-item ng-repeat="option in filter.defectTypeOptions" ng-click="filter.defectType = option; closeFilter(); ">
                {{option.displayName}}
            </ion-item>
        </ion-list>
    </ion-content>
    
    <ion-content ng-class="{'show':filter.showFilterIndex==1}" class=" slide-right-left-animation " id="option-defectstatus">
        <ion-list>
            <ion-item ng-repeat="option in filter.defectItemStatusOptions" ng-click="filter.defectItemStatus = option; closeFilter(); ">
                {{option.displayName}}
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-calm">
        <a ng-click="closeFilter()" class="title footer-button button button-full button-clear">Close</a>
    </ion-footer-bar>
</ion-modal-view>   