<ion-modal-view id="filter-defect-item-modal">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Filter Defect Item</h1>
    </ion-header-bar>
    
    <ion-content>
        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">Defect Type</div>
                <select name="defectType" ng-model="filter.defectType"
                        ng-options="option.displayName for option in filter.defectTypeOptions track by option.id"
                        >
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Status</div>
                <select name="defectItemStatus" ng-model="filter.defectItemStatus"
                        ng-options="option.displayName for option in filter.defectItemStatusOptions track by option.id"
                        >
                </select>
            </label>
        </ion-list>

    </ion-content>
    <ion-footer-bar align-title="left" class="">
        <div class="row padding-0" style="padding-top:0; padding-bottom:0;">
            <div class="col " style="padding-top:0; padding-bottom:0;">
                <button class="button button-block button-positive " style="padding:0;margin:0;" ng-click="closeModal()">Apply</button>
            </div>
            <div class="col padding-0" style="padding-top:0; padding-bottom:0;">
                <button class="button button-block button-positive " style="padding:0;margin:0;" ng-click="closeModal()">Reset</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-modal-view>   